footer.footer
  .footer__container
    ul.footer__ul
      li.footer__li
        a(href="#") Quienes somos
      li.footer__li
        a(href="#") Trabaja con nosotros
      li.footer__li
        a(href="#") Contacto