*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
  min-height: 100vh;
  /* background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 1),  rgba(85, 197, 122)); */
  background-color: #333;
  position: relative;
}

/* rgba(85, 197, 122); */
/* rgba(126, 213, 111, 1); */
/* color-green-dark: #28b485 */
/* color-green-light: #7ed56f */
/*color-medium-green: #55c57a*/

/* .row {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #eee;
}

.row:not(:last-child) {
  margin-bottom: 20px;
}

/* CLEARFIX */
/* .row::after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
  background-color: orangered;
  float: left;
}
.col-1-of-2 {
  width: calc((100% - 50px) / 2);
}

.col-1-of-2:not(:last-child) {
  margin-right: 50px;
}

.col-1-of-3 {
  width: calc((100% - (2*50px)) / 3);
}

.col-1-of-3:not(:last-child) {
  margin-right: 50px;
}

.col-2-of-3 {
  width: calc(2 * ((100% - 2*50px) / 3) + 50px);
} 

.col-1-of-4 {
  width: calc((100% - 3*50px) / 4);
}

.col-1-of-4:not(:last-child) {
  margin-right: 50px;
}

.col-3-of-4 {
  width: calc(3 * ((100% - 3*50px) / 4) + 100px);
}  */

/* .col-3-of-4:not(:last-child) {
  margin-right: 50px;
} */

.form {
  width: 30%;
  /* background-color: rgb(243, 242, 242); */
  color: #fff;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  padding: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
}

.form__title {
  color: #55c57a;
  margin-bottom: 1.2rem;
}

.form__group {
  margin-bottom: 1rem;
  text-align: left;
}

.form__label {
  display: inline-block;
  font-weight: 700;
  /* padding: 5px; */
  color: #7ed56f;
  opacity: 1;
  transform: translateY(-.5rem);
  transition: all .2s;
}

.form__input {
  width: 100%;
  margin-bottom: 1rem;
  padding: .4rem .2rem;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  font-size: 1rem;
  display: block;
}

.form__input:focus {
  outline: none;
  border-bottom: 2px solid #7ed56f;
}

.form__input::-webkit-input-placeholder {
  color: #b9b9b9;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(-1rem);
}

.form__button {
  transition: all .2s;
  text-decoration: none;
  color: white;
  padding: .4rem 1rem;
  border-radius: .3rem;
  margin: .5rem;
  border: 1px solid transparent;
  font-size: 1.1rem;
}

.form__button--iniciar {
  background-color: #7ed56f;
}

.form__button--iniciar:hover {
  background-color: #eee;
  border: 1px solid #7ed56f;
  color: #7ed56f;
  box-shadow: 0 .6rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-.2rem);
}

.form__button--cancelar {
  background-color: #f1c40f;
}

.form__button--cancelar:hover {
  background-color: #eee;
  border: 1px solid #f1c40f;
  color: #f1c40f;
  box-shadow: 0 .6rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-.2rem);
}